AddDefaultCharset UTF-8

# Если в папке не будет index файла, то откроется каталог файлов сайта. Предположим если есть в корне этот index, то откроется сайт
# но пользователь может обратиться к другому каталогу например css и увидит список файлов, что бы этого не было 1. можно везде пустых
# index файлов насовать или прописать настройку. По умолчанию разрешено, так же разрешить +Indexes, запретить -Indexes.
Options -Indexes

# Убрать расширение файла +MultiViews. Если будет более одного файла(разных по типу) но с одинаковым именем откроется 
# с расширением html или ошибка 
Options +MultiViews

# По умолчанию открывается index файл, но его можно переопределить. Можно указать даже картинку. Например Тех. работы
DirectoryIndex myFile.php

# вывод каталогов файлов можно стилизировать
IndexOptions FancyIndexing

# скрыть в каталоге какие-нибудь файлы
IndexIgnore *.rar *.zip и т.д